body{
    background-color:snow;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    background-color: aliceblue;
    text-align: center;
}

#Home {
    background-color: lightskyblue;
}

div{

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-family: "copperplate", "papyrus", Fantasy, serif;

}

a{
    text-align: center;

}
#content{
    max-width: 90%;
    background-color: snow;
    margin-left: auto;
    margin-right: auto;
}
#photo-header{
    text-align:center;
}
#photo {
    display: block;;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


#photo2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.container{
    height: 500px;
    background-color:snow;
    position:relative ;
}

#Computing {
    display: block;;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#content{
    text-align:center;
}








